<div class="row justify-content-center align-content-center pt-5">
  <div class="sale-form">
    <hr>
    <div class="text-center font-weight-bold">
      <h4>{{ game.name }}</h4>
    </div>
    <hr>
    <form [formGroup]="saleForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input
          type="text"
          placeholder="Pedro Lorenzo"
          id="name"
          formControlName="name"
          class="form-control form-field"
        />
        <span
          *ngIf="
            !saleForm.get('name').valid &&
            saleForm.get('name').touched &&
            saleForm.get('name').errors['required']
          "
          class="help-block"
        >
          El campo es obligatorio
        </span>
      </div>

      <div class="form-group">
        <label for="identification">Cédula</label>
        <input
          type="number"
          id="identification"
          placeholder="123456"
          formControlName="identification"
          class="form-control form-field"
        />
        <span
          *ngIf="
            !saleForm.get('identification').valid &&
            saleForm.get('identification').touched &&
            saleForm.get('identification').errors['required']
          "
          class="help-block"
        >
          El campo es obligatorio
        </span>
      </div>

      <div class="form-group">
        <label for="identification">Número telefónico</label>
        <input
          type="number"
          id="phone"
          placeholder="02123427659"
          formControlName="phone"
          class="form-control form-field"
        />
        <span
          *ngIf="
            !saleForm.get('phone').valid &&
            saleForm.get('phone').touched &&
            saleForm.get('phone').errors['required']
          "
          class="help-block"
        >
          El campo es obligatorio
        </span>
      </div>

      <div class="form-group">
        <label for="address">Dirección</label>
        <textarea
          id="address"
          placeholder="Urbina"
          formControlName="address"
          class="form-control form-field"
          rows="10"
          cols="50"
        ></textarea>
        <span
          *ngIf="
            !saleForm.get('address').valid &&
            saleForm.get('address').touched &&
            saleForm.get('address').errors['required']
          "
          class="help-block"
        >
          El campo es obligatorio
        </span>
      </div>

      <div class="form-group">
        <label for="amount">Cantidad</label>
        <input
          type="number"
          id="amount"
          placeholder="1"
          formControlName="amount"
          class="form-control form-field"
          min="1"
        />
        <span
          *ngIf="
            !saleForm.get('amount').valid &&
            saleForm.get('amount').touched &&
            saleForm.get('amount').errors['required']
          "
          class="help-block"
        >
          El campo es obligatorio
        </span>
      </div>

      <button
        class="btn btn-warning btn-block"
        type="submit"
        [disabled]="!saleForm.valid"
      >
        Comprar
      </button>
    </form>
  </div>
</div>
