<div class="row">
  <div class="banner">
    <!-- {{ game.name }} -->
    Juego
  </div>

  <div class="info">
    <h5 class="text-uppercase font-weight-bold">Información</h5>
    <hr />
    <div>
      <div class="text-center my-5">
        <img src="{{ game.background_image }}" height="60%" width="60%" />
      </div>
      <h6 class="text-uppercase font-weight-bold">Nombre:</h6>
      <p>{{ game.name }}</p>
      <h6 class="text-uppercase font-weight-bold">Descripción:</h6>
      <div [innerHTML]="game.description"></div>
      <h6 class="text-uppercase font-weight-bold">Fecha de lanzamiento:</h6>
      <p>{{ game.released }}</p>
      <h6 class="text-uppercase font-weight-bold">Géneros:</h6>
      <div *ngFor="let genre of game.genres">
        <p>{{ genre.name }}</p>
      </div>
      <h6 class="text-uppercase font-weight-bold">Desarrolladores:</h6>
      <p class="my-1" *ngFor="let developer of game.developers">
        {{ developer.name }}
      </p>
      <h6 class="text-uppercase font-weight-bold">Publicadores:</h6>
      <p class="my-1" *ngFor="let publisher of game.publishers">{{ publisher.name }}</p>
      <h6 class="text-uppercase font-weight-bold">Plataformas:</h6>
      <p class="my-1" *ngFor="let platform of game.platforms">
        {{ platform['platform'].name }}
      </p>
      <h6 class="text-uppercase font-weight-bold">Puntuación:</h6>
      <p>{{ game.rating }}</p>
    </div>
    <hr />
    <h5 class="text-uppercase font-weight-bold">Screenshots</h5>
      <div *ngFor="let result of screenshots" class="my-4 text-center">
          <img src="{{ result.image }}" height="70%" width="70%">
      </div>
    <hr />
    <h5 class="text-uppercase font-weight-bold mt-4">trailer</h5>
    <div *ngFor="let object of trailer" class="text-center my-4">
      <video src="{{ object['data'].max }}" controls height="70%" width="70%"></video>
    </div>
  </div>

  <div class="w-100 m-5">
    <button *ngIf="released" class="btn btn-block bg-dark text-white" type="button" (click)="buy()">
      Comprar
    </button>
    <button *ngIf="!released" disabled class="btn btn-block bg-dark text-white" type="button" (click)="buy()">
      Proximamente el {{ game.released }}
    </button>
  </div>
</div>
