.list {
  margin: auto;
}

.wrapper {
  margin-top: 5vh;
  padding: 10vw;
  min-height: 50vh;
}

tr {
  background-color: beige;
}

tr:hover {
  background-color: rgb(201, 201, 201);
}

@media (max-width: 760px) {

  .wrapper {
    min-height: 60vh;
  }

  .list {
    margin:auto;
    width: fit-content;
  }

}
