<div class="row bg-dark h-100 pb-5">

  <div class="banner">
    Caracas Gaming Spot
  </div>

  <div class="w-100 text-center text-white my-4">
    <h2>Próximos juegos</h2>
  </div>

  <div class="search-game w-100 my-4 px-4">
    <input class="form-control w-100 form-shadow" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442; Busca tu juego">
  </div>

  <div class="games-list px-4">
    <div class="d-flex" *ngFor="let game of games | filter : 'name' : searchText">
      <div class="thumbnail my-3" (click)="seeDetails(game)">
          <img src="{{ game.background_image }}">
          <div class="title ml-md-5">
            <h4>{{ game.name }}</h4>
          </div>
      </div>
    </div>
    <button class="btn btn-block bg-light" (click)="seeMore()">Cargar más</button>
  </div>


</div>
